.about-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.about-me-section {
  display: flex;
  flex-direction: column;
}

.about-heading {
  width: 50%;
  color: var(--lightest-slate);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 2px var(--main-pink);
  align-self: flex-start;
}

.about-body {
  width: var(--main-width);
  margin-right: 2.5rem;
  font-weight: var(--fw-body);
  line-height: var(--main-lh);
  font-size: var(--fz-body);
}

.about-list-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 1rem;
  line-height: 1.75rem;
  font-weight: 300;
}

.about-list {
  list-style: square;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: var(--fz-body);
}

.about-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-headshot {
  max-height: 18.5vw;
  max-width: 18.5vw;
  border: 2px var(--main-pink) solid;
  border-radius: 50%;
}

.about-highlight {
  color: var(--main-pink);
}
