.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.contact-subheading {
  color: var(--lightest-slate);
  font-size: clamp(40px, 5vw, 60px);
  text-align: center;
  /* border-bottom: solid 2px var(--main-pink); */
  margin-bottom: 1rem;
}

.contact-body {
  width: 100%;
  font-size: var(--fz-body);
  font-weight: var(--fw-body);
  line-height: var(--main-lh);
  text-align: center;
}

.contact-button {
  color: var(--main-pink);
  background-color: transparent;
  border: 1px solid var(--main-pink);
  border-radius: 8px;
  font-size: var(--fz-xs);
  line-height: 1;
  padding: 1.25rem 1.75rem;
  transition: var(--transition);
  margin: 20px auto 0px;
}

.contact-button:hover {
  color: #fff;
  background-color: var(--main-pink);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translate(-2px, -2px);
}


