.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 900px;
  /* min-width: 100%; */
  margin-left: auto;
  margin-right: auto;
}

.exp-heading {
  width: 100%;
  color: var(--lightest-slate);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 2px var(--main-pink);
}

.exp-inner {
  display: flex;
  margin: 1rem 0rem;
}

.tablist {
  display: flex;
  position: relative;
  z-index: 1;
  width: max-content;
  padding: .5rem 0px 0px;
  margin-bottom: 2rem;
  /* margin: 0px; */
  list-style: none;
}

.tab {
  position: relative;
  transition: var(--transition);
  display: flex;
  align-items: center;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  margin-right: 2rem;
  background-color: transparent;
  color: var(--light-slate);
  font-size: clamp(13px, 1vw, 14px);
  text-align: left;
  white-space: nowrap;
}

/* ExperienceItem Section */
.exp-info-container {
  min-height: 400px;
}

.exp-panel {
  padding: 0px 10px 5px;
  transition: var(--transition);
}

.exp-headline {
  margin-bottom: 2px;
  font-size: clamp(17px, 1vw, 19px);
  font-weight: 500;
  line-height: 1.3;
  color: var(--lightest-slate);
}

.exp-c {
  color: var(--main-pink);
}

.date-range {
  margin-bottom: 2rem;
  color: var(--light-slate);
  font-size: clamp(13px, 1vw, 14px);
  font-weight: 300;
}

.bullet-panel {
  padding: 0px;
  margin: 0px 0rem 0px 1rem;
  list-style: square;
  font-size: clamp(14px, 1vw, 15.5px);
  line-height: 1.4rem;
  font-weight: 300;
}

.bullet-points {
  position: relative;
  margin-bottom: 1rem;
}
