.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.exp-heading {
  width: 50%;
  color: var(--lightest-slate);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 2px var(--main-pink);
}

.exp-inner {
  display: flex;
  flex-direction: row;
}

.exp-companys {
  display: flex;
  flex-direction: column;
}

.company-buttons {
  color: var(--main-pink);
  background: transparent;
  border: none;
  margin-bottom: 1rem;
}
