.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/* Hello there! I'm */
.home-greeting {
  font-weight: 500;
  font-size: clamp(16px, 1vw, 20px);
  text-align: center;
  color: var(--main-pink);
  margin-bottom: 1rem;
}

/* Quyen Hoang */
.home-name {
  font-size: clamp(40px, 8vw, 80px);
  color: var(--lightest-slate);
  margin: 0px;
  margin-bottom: 1rem;
}

/* Full Stack Software Engineer */
.home-title {
  line-height: 1rem;
  color: var(--slate);
  font-size: clamp(16px, 1vw, 19px);
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Welcome to my personal portfolio...*/
.home-welcome {
  width: 80%;
  line-height: 1.25rem;
  text-align: center;
  color: var(--slate);
  font-weight: 300;
  font-size: var(--fz-body);
  margin-bottom: 1rem;
}

.home-body {
  width: 70%;
  line-height: 1.3rem;
  text-align: center;
  color: var(--slate);
  font-weight: 300;
  font-size: var(--fz-body);
  margin-bottom: 1rem;
}

.home-link {
  color: var(--main-pink);
  text-decoration: none;
}
