:root {
  font-size: 16px;
  font-family: 'Open Sans', 'sans-serif';
  --main-pink: #df49a6;
  --main-grayscale: #808080;
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --main-text-primary: #000000;
  --transition-speed: 500ms;
  --fz-xl: 20px;
  --jump-animation: -1px;
}

body {
  color: black;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

section {
  height: 100vh;
  min-height: 100vh;
  padding: 0;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--main-pink);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  /* media queries */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  main {
    margin: 0 0 5rem 0; /* remove gap we previously set in main element */
  }

  /* footer */
  footer {
    display: none;
    visibility: hidden;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  /* media queries */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .navbar:hover {
    width: 16rem;
  }

  .logo svg {
    /* solves weird edge case where animation would expand larger during animation after switching between browser and mobile */
    max-height: 50%;
    max-width: 50%;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}
