:root {
  font-size: 16px;
  font-family: 'Open Sans', 'sans-serif';

  /* under main minus sidebar */
  --main-pink: #df49a6;
  --main-grayscale: #808080;
  --main-text-primary: #110D11;
  --main-text-secondary: #27272A;
  --main-bg: #2c2f33;

  /* navbar styling */
  --nav-text-primary: #b6b6b6;
  --nav-text-hover: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-hover: #141418;

  /* color palette */
  --navy-shadow: rgba(2,12,27,0.7);
  --light-navy: #112240;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --slate: #8892b0;

  --transition-speed: 500ms;
  --fz-xl: 20px;
  --fz-xs: 13px;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  --jump-animation: -1px;
  --main-lh: 1.5rem;
  --main-width: 52vw;

  /* body of text variables */
  --fz-body: clamp(14px, 1vw, 17px);
  --fw-body: 300;

  --tab-height: 42px;
  --tab-width: 120px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--slate);
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  min-height: 100vh;
}

footer {
  margin-left: 5rem;
}

section {
  /* height: 100vh;
  min-height: 100vh; */
  padding: 0;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--main-pink);
}

button {
  cursor: pointer;
  border: none;
}

/* css animations */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  /* media queries */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  main {
    margin: 0 0 5rem 0; /* remove gap we previously set in main element */
  }

  .about-container {
    flex-direction: column;
  }

  .about-photo {
    margin-bottom: 7.5em;
  }

  .exp-inner {
    width: 100%;
    flex-direction: column;
    /* padding: 0 10rem 0; */
    /* margin: 0 10rem 0; */
  }

  .exp-info-container {
    display: flex;
  }

  .tab {
    border-left: 2px solid var(--nav-bg-primary);
  }

  .active {
    color: var(--main-pink);
    border-left: 2px solid var(--main-pink);
  }

  .tablist {
    flex-direction: column;
    overflow-y: scroll;
  }

  .tablist::-webkit-scrollbar {
    width: .5rem;
  }

  .tablist::-webkit-scrollbar-track {
    background: var(--main-pink);
  }

  .tablist::-webkit-scrollbar-thumb {
    background: #1e1e24;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem 0; /* remove gap we previously set in main element */
  }

  .contact-container {
    min-height: 60vh;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .navbar:hover {
    width: 16rem;
  }

  .logo svg {
    /* solves weird edge case where animation would expand larger during animation after switching between browser and mobile */
    max-height: 50%;
    max-width: 50%;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }

  .about-container {
    flex-direction: row;
  }

  .exp-inner {
    flex-direction: row;
  }

  .tab {
    border-left: 2px solid var(--nav-bg-primary);
  }

  .active {
    color: var(--main-pink);
    border-left: 2px solid var(--main-pink);
  }

  .tablist {
    flex-direction: column;
  }

  .contact-container {
    min-height: 100vh;
  }
}
